<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Javascript Library -->
        <script src="jquery-3.0.0.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <title> oneM2M Web Testing </title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://127.0.0.1:62590/TitanWebIntroduction">oneM2M Web Testing</a>
            </div>
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, oneM2M!</h1>
            <p>oneM2MTester project is a oneM2M conformance testing project which was initialized by Korea Electronics Technology Institute (KETI) in January 2016.</p>
            <p><a id="go_testing_page" class="btn btn-danger btn-lg" href="http://127.0.0.1:62590/TitanWebTesting" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Sejong University</h2>
                <p>Sejong University (세종대학교, 世宗大學校) is a private university located in Seoul, South Korea. The history of Sejong University dates to 1940 when a trust established the Kyung Sung Humanities Institute. In 1978, the academy was named Sejong University in honor of Sejong the Great, the fourth king of the Chosun Dynasty and overseer of the Korean alphabet Hangeul.</p>
                <p><a class="btn btn-default" href="http://eng.sejong.ac.kr/index.do" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>KETI</h2>
                <p>KETI is a R&D institution specialized in the electronics & IT areas under the Ministry of Trade, Industry & Energy. Since its establishment in 1991, we have given our best efforts toward the competitiveness of small and mid-sized enterprises in Korea's flagship industries and new industries.</p>
                <p><a class="btn btn-default" href="http://www.keti.re.kr/eng/main/main.php" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>oneM2M</h2>
                <p>oneM2M is a global organization that creates requirements, architecture, API specifications, security solutions and interoperability for Machine-to-Machine and IoT technologies.</p>
                <p><a class="btn btn-default" href="http://www.onem2m.org/" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; Sejong Univ. 2017</p>
        </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>