<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Javascript Library -->
        <script src="jquery-3.0.0.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <title> oneM2M Web Testing </title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <style>
            body {
                padding-top: 70px;
                /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
            }

            .starting_button_margin_right{
                margin-right: 15px;
            }
        </style>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
            $(function () {
                // Request to specific server
                $('#start_testing').click(function() {
                    $.ajax({
                        url: "http://127.0.0.1:62590/requestManage",
                        type: "get",
                        dataType: "json",
                        cache: false,
                        timeout: 30000,
                        contentType: "application/json",
                        success: function (responseData) {

                        }, error: function (xhr, textStatus, errorThrown) {

                        }
                    });
                });
            });
        </script>
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://127.0.0.1:62590/TitanWebTesting">oneM2M Web Testing</a>
                </div>
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-lg-4 control-label">Select Profile</label>
                            <div class="col-lg-8">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-lg-4 control-label">Select Testcase</label>
                            <div class="col-lg-8">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Test Profile</th>
                                <th>Testcase</th>
                                <th>Test Result</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="default">
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="default">
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr class="default">
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary col-lg-3 pull-right starting_button_margin_right">Start Testing</button>
                        </div>

                        <div class="form-group"> </div>
                        <div class="form-group"> </div>
                    </form>
                </div>

                <div class="col-lg-6 text-center">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Test Profile</th>
                            <th>Testcase</th>
                            <th>Test Result</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="success">
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr class="success">
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr class="danger">
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr class="default">
                            <td>4</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr class="default">
                            <td>5</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr class="default">
                            <td>6</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr class="success">
                            <td>7</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
           </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="form-group">
                        <label for="exampleTextarea"> Configuration Editor </label>
                        <textarea class="form-control" id="exampleTextarea" rows="11">[LOGGING]
FileMask 			:= LOG_ALL | DEBUG | ERROR | USER | WARNING | TESTCASE | STATISTICS
ConsoleMask 		:= DEBUG| TESTCASE | PORTEVENT | ERROR | STATISTICS | MATCHING | VERDICTOP_SETVERDICT
SourceInfoFormat 	:= Single
LogFile 			:= "../log /OneM2MTesterLog-%n.log"
#LogSourceInfo 		:= Stack


[TESTPORT_PARAMETERS]
system.HTTP_client_port.VERIFYCERTIFICATE		:= "no"
system.HTTP_server_port.use_notification_ASPs	:= "no"
system.*.http_debugging							:= "yes"

[MAIN_CONTROLLER]
KillTimer	:= 1
TCPPort		:= 9639

[MODULE_PARAMETERS]
/*Kind reminder: please configure following settings step by step~*/

//================================================Step-1: IUT configuration=======================================
/*System under test (SUT) configuration
 * @PX_SUT_ADDRESS: SUT access addres in format IP:port
 * @PX_CSE_NAME: CSEBase name of CSE in SUT
 * @PX_URI_CSE: CSE access URI
 * @PX_CSE_ID: CSE-ID
 */
OneM2M_Pixits.PX_SUT_ADDRESS 			:= "192.168.0.17:8080";// "192.168.0.17:7579";
OneM2M_Pixits.PX_CSE_NAME				:= "in-name";//"/mobius-yt";//
OneM2M_Pixits.PX_URI_CSE 				:= "~/in-cse";
OneM2M_Pixits.PX_CSE_ID					:= "~/in-cse";
/* SP-relative + structured e,g, OM2M
 * OneM2M_Pixits.PX_SUT_ADDRESS 			:="192.168.0.17:8080";
 * OneM2M_Pixits.PX_CSE_ID					:= "~/in-cse";
 * OneM2M_Pixits.PX_URI_CSE 				:= "~/in-cse";
 * OneM2M_Pixits.PX_CSE_NAME				:="in-name";
 * OneM2M_Pixits.PX_ADDRESSING_FORMAT		:= e_spRelative;
 * OneM2M_Pixits.PX_UNSTRUCTURED			:= false;
*/

/* CSE-relative + structured e,g, Mobius-yt
 * OneM2M_Pixits.PX_SUT_ADDRESS 			:="192.168.0.17:7579";
 * OneM2M_Pixits.PX_CSE_ID					:= "";
 * OneM2M_Pixits.PX_URI_CSE 				:= "";
 * OneM2M_Pixits.PX_CSE_NAME				:="/mobius-yt";
 * OneM2M_Pixits.PX_ADDRESSING_FORMAT		:= e_cseRelative;
 * OneM2M_Pixits.PX_UNSTRUCTURED			:= false;
*/
//================================================Step-2: Resource Addressing Format configuration================
/*Supported resource addressing format configuration
 * @PX_UNSTRUCTURED: set to true to indicate the resource unstructured addressing format; false for structured one
 * @PX_ADDRESSING_FORMAT: supported address format either e_spRelative, e_cseRelative, or e_cseRelative
 * @PX_FROM_IS_AE_ID: set true to indicate the PX From (originator) parameter uses field value of AE-ID;
 * otherwise set to false
 */
/*
 * Sp-relative structured resource format i.e./~/CSE-id/cse-name/resourceid e.g. "/~/in-cse/in-name/Cadmin-ae"
 * Sp-relative unstructured resource fomrat i.e. /~/CSE-id/resourceid e.g. "/~/in-cse/Cadmin-ae"
 */

OneM2M_Pixits.PX_UNSTRUCTURED			:= false;
OneM2M_Pixits.PX_ADDRESSING_FORMAT		:= e_spRelative;
OneM2M_Pixits.PX_FROM_IS_AE_ID			:= true;

//================================================Step-3: Protocol configuration=================================
/*Serialization and Protocol binding specification
 * @PX_SERIALIZATION supports value of "xml", "json", "XML", or "JSON"
 * @PX_PROTOCOL_BINDING now only supports "HTTP"
 */
OneM2M_Pixits.PX_SERIALIZATION 			:= "JSON"; //{XML JSON json xml}
OneM2M_Pixits.PX_PROTOCOL_BINDING 		:= "HTTP";

//================================================Step-4: Parameters and Preference configuration=================
/*Parameters required for setting the AE registration
 * @PX_AE_ID_STEM: AE-ID-Stem parameter which is used for AE registration
 * @PX_APP_ID: Application-ID which is required for AE registration
 * @PX_RESOURCES_TO_BE_DELETED: resource-ids for AE and ACP that are created during test;
 * @PX_RESOURCE_TO_BE_DELETED: AE resource-id (AE-ID)
 * Note that these two parameters(PX_RESOURCE_TO_BE_DELETED and PX_RESOURCES_TO_BE_DELETED ) are designed for debug
 * and only used in testcase "TC_DELETE_RESOURCES" and "PX_RESOURCE_TO_BE_DELETED"
 * It is up to user to decide whether to use those two unofficial testcases!
 * @PX_SUPER_USER: so called super user in oneM2M CSE implementations and this parameter is designed for set originator for creation of
 * AccessControlPolicy resource; user can set this parameter to the super user value if any
 * @PX_ACOR: AccessControlOriginators in the AccessControlRule attribute; assign a list of accessControlOriginators that are permitted
 * to access to your CSE and resources stored in your CSE
 * @PX_RUN_POSTAMBLE: set to true to indicate the test system will automatically delete resources created as precondition progress
 */
OneM2M_Pixits.PX_AE_ID_STEM 				:= "Cadmin-ae";
OneM2M_Pixits.PX_APP_ID 					:= "myAppId";

/*To be removed later cause PX_DELETE_CREATED_RESOURCES and PX_RESOURCES_TO_BE_DELETED is only used for pre-testing testcase of ATS*/
OneM2M_Pixits.PX_RESOURCES_TO_BE_DELETED 	:= {"Cadmin-ae",  "admin-acp"};//{"Cadmin-ae", "admin-acp", "Cadmin-ae2"};
OneM2M_Pixits.PX_RESOURCE_TO_BE_DELETED 	:= "Cadmin-ae";

OneM2M_Pixits.PX_SUPER_USER					:= "admin:admin";//"Cadmin-ae";
OneM2M_Pixits.PX_ACOR	 					:= {"admin:admin", "origin:origin", "Cadmin-ae"};//{"admin:admin", "origin:origin", "*"}

/*Flag to indicate users preference for delete or remain all resources that are created during pre-condition step*/
OneM2M_Pixits.PX_RUN_POSTAMBLE 				:= true;

OneM2M_Pixits.LABELS 								:= {"VALUE_1"};
OneM2M_Pixits.PX_TESTER_ADDRESS						:= "192.168.125.152:44674";

//================================================Step-5: Location related parameters configuration===========================
/* Note: LocationPolicy related testcases cannot be tested in practical and just leave those parameters as they are
 *@PX_IUT_IS_ASN_CSE
 *@PX_IUT_IS_MN_CSE
 *@PX_XML_NAMESPACE
 *@PX_LOCATION_TARGET_ID
 *@PX_LOCATION_SERVER_ADDRESS
 *@PX_LOCATION_UPDATE_PERIOD
 *@PX_LOCATION_CONTAINER_NAME
 *@PX_IS_LOC_CONTAINER
 */
//for checking whether the locationPolicy creation request is originated from a ASN-AE
//NOTE: Apply to Device-based location request, and this requires Test System (TS) to activate ASN-AE mode to test IUT
OneM2M_Pixits.PX_IUT_IS_ASN_CSE				:= false; //default //set it to true when running Device-based location testcases
OneM2M_Pixits.PX_IUT_IS_MN_CSE				:= false; //default //set it to true when running Share-based location testcases
OneM2M_Pixits.PX_XML_NAMESPACE 				:="m2m=""http://www.onem2m.org/xml/protocols""";

//constant parameters for LOC
OneM2M_Pixits.PX_LOCATION_TARGET_ID					:= "{LOCATION-TARGET-ID}"; //SUPPOSE TO BE RECEIVED FROM LOCATION SERVER
OneM2M_Pixits.PX_LOCATION_SERVER_ADDRESS			:= "{LOCATION-SERVER-ADDRESS}";
OneM2M_Pixits.PX_LOCATION_UPDATE_PERIOD				:= "PT10M10S" ;//10 Minute 10 Seconds
OneM2M_Pixits.PX_LOCATION_CONTAINER_NAME			:= "myLoContainer";
OneM2M_Pixits.PX_IS_LOC_CONTAINER					:= false;//default //set it to true when the container is created to store location information


/*All configuration are done~Now start*/
</textarea>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>