<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Javascript Library -->
        <script src="jquery-3.0.0.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="MainTemplate.css">

        <title> oneM2M Web Testing </title>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
            $(function () {
                // Pre-Defined array function for ArrayList style
                Array.prototype.remove = function(el){
                    var index = this.indexOf(el);

                    if(index != -1)
                        this.splice(index, 1);
                }

                Array.prototype.add = function(el){
                    if(this.indexOf(el) == -1)
                        this.push(el);
                }
                var testcaseList = [];
                var detailInformation = '';

                // Request to specific server
                $('#start_testing').click(function() {

                    var testcaseName = []
                    var parameterName = [], parameterValue = [], concatenatedParameter = [];

                    /* // Getting testcase list
                    $("#testcaseListTable tbody tr").each(function() {
                        $(this).find("td:nth-child(3)").html();
                    }); */

                    // Getting testcase name
                    for(var i = 0; i < testcaseList.length; i++)
                        testcaseName.push(testcaseList[i].testcase);

                    // Getting parameter name
                    $(".parameterName").each(function() {
                        parameterName.push($(this).attr('id'));
                    });

                    // Getting parameter value
                    $(".parameterInput").each(function() {
                        parameterValue.push($(this).val());
                    });

                    // Concatenating testcase parameters
                    for(var i = 0; i < parameterValue.length; i++) {
                        if(parameterValue[i].length != 0) {
                            concatenatedParameter.push(parameterName[i] + " := " + parameterValue[i]);
                        }
                    }

                    var testcaseConfigObject = new Object();
                    testcaseConfigObject.testConfig = new Object();
                    testcaseConfigObject.testConfig.testcaseName = testcaseName;
                    testcaseConfigObject.testConfig.testcaseParam = concatenatedParameter;

                    $.ajax({
                        url: 'http://127.0.0.1:62590/localTestingNode',
                        type: "post",
                        dataType: "json",
                        cache: false,
                        timeout: 30000,
                        data: JSON.stringify(testcaseConfigObject),
                        contentType: "application/json",

                        success: function (data) {
                            detailInformation = data['result'];
                        }, error: function (xhr, textStatus, errorThrown) {
                            alert(textStatus + ' : ' + errorThrown);
                        }
                    });
                });

                // 기본적으로 1depth의 드롭다운을 로드함
                $("#testprofile").load("TestcaseList.html #testprofile1-1", function() {
                    // 로딩이 완료되면 드롭다운을 감싸는 태그 요소를 화면에 표시함
                    $(this).show();
                });

                // 기본적으로 1depth의 드롭다운을 로드함
                $("#testcaselist").load("TestcaseList.html #testcaselist1-1", function() {
                    // 로딩이 완료되면 드롭다운을 감싸는 태그 요소를 화면에 표시함
                    $(this).show();
                });

                $(document).on("change", "#testprofile > select", function() {
                    // 1dpeth가 변경되므로 2,3depth는 초기화.
                    // $("#testcaselist").empty().hide();

                    // 선택된 항목이 지시하는 하위 카테고리 페이지의 URL얻기
                    var target = $(this).find("option:selected").attr("data-target");
                    var selector = "TestcaseList.html " + target;

                    // 다음 항목 로드
                    $("#testcaselist").load(selector, function() {
                        $(this).show();
                    });
                });

                // Adding testcase
                $(document).on("change", "#testcaselist > select", function() {
                    $('#testcaseListTable').addClass('table table-striped');
                    var testprofile =  $( "#testprofile option:selected" ).text();
                    var testcase = $( "#testcaselist option:selected" ).text();

                    var testcaseJSONObject = new Object();
                    testcaseJSONObject.testprofile = testprofile;
                    testcaseJSONObject.testcase = testcase;
                    testcaseList.add(testcaseJSONObject);

                    var testcaseElement = $("<tr>")

                    var testcaseNumberTD = $('<td>');
                    testcaseNumberTD.attr({
                        "class": "col-xs-1 testcaseOrder"
                        // class testcaseOrder is used for deleting the testcase.
                    });
                    testcaseNumberTD.html(testcaseList.length);

                    // testprofile
                    var testprofileTD = $('<td>');
                    testprofileTD.attr({
                        "class": "col-xs-4"
                    });
                    testprofileTD.html(testcaseJSONObject.testprofile);

                    // testcase
                    var testcaseTD = $('<td>');
                    testcaseTD.attr({
                        "class": "col-xs-4"
                    });
                    testcaseTD.html(testcaseJSONObject.testcase);

                    // testcase delete TD
                    var testcaseDeleteTD = $('<td>');
                    testcaseDeleteTD.attr({
                        "class": "col-xs-3"
                    });

                    // testcase delete Button
                    var testcaseDeleteButton = $('<input>');
                    testcaseDeleteButton.attr({
                        "type": "button",
                        "value": "X",
                        "class": "btn btn-default deleteTestcase"
                    });
                    testcaseDeleteTD.append(testcaseDeleteButton);

                    testcaseElement.append(testcaseNumberTD).append(testprofileTD).append(testcaseTD).append(testcaseDeleteTD);
                    var paramListRoot = $('#testcaseListTbody');
                    paramListRoot.append(testcaseElement);

                });

                // Deleting the saved testcase list
                $(document).on("click", '.deleteTestcase', function () {
                    var selectedTestcaseNumber = $(this).closest('tr').find('.testcaseOrder').text();
                    testcaseList.remove(testcaseList[selectedTestcaseNumber - 1]);

                    $('#testcaseListTbody').children().remove();

                    for(var i = 0; i < testcaseList.length; i++) {
                        var testcaseElement = $("<tr>")
                        var testcaseNumberTD = $('<td>');
                        testcaseNumberTD.attr({
                            "class": "col-xs-1 testcaseOrder"
                        });
                        testcaseNumberTD.html(i + 1);

                        // testprofile
                        var testprofileTD = $('<td>');
                        testprofileTD.attr({
                            "class": "col-xs-4"
                        });
                        testprofileTD.html(testcaseList[i].testprofile);

                        // testcase
                        var testcaseTD = $('<td>');
                        testcaseTD.attr({
                            "class": "col-xs-4"
                        });
                        testcaseTD.html(testcaseList[i].testcase);

                        // testcase delete TD
                        var testcaseDeleteTD = $('<td>');
                        testcaseDeleteTD.attr({
                            "class": "col-xs-3"
                        });

                        // testcase delete Button
                        var testcaseDeleteButton = $('<input>');
                        testcaseDeleteButton.attr({
                            "type": "button",
                            "value": "X",
                            "class": "btn btn-default deleteTestcase"
                        });
                        testcaseDeleteTD.append(testcaseDeleteButton);

                        testcaseElement.append(testcaseNumberTD).append(testprofileTD).append(testcaseTD).append(testcaseDeleteTD);
                        var paramListRoot = $('#testcaseListTbody');
                        paramListRoot.append(testcaseElement)
                        $('#testcaseListTable').addClass('table table-striped');
                    }
                });

                $('#detail-Information-button').click(function(e){
                    e.preventDefault();
                    $('#modalTextArea').val(detailInformation);
                });
            });
        </script>
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://127.0.0.1:62590/TitanWebTesting">oneM2M Web Testing</a>
                </div>
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Select Profile</label>
                                    <div class="col-lg-8" id="testprofile"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Select Testcase</label>
                                    <div class="col-lg-8" id="testcaselist"></div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <table id="testcaseListTable" class="table testcase-table-fixed testcaseListTable">
                                    <thead>
                                    <tr>
                                        <th class="col-xs-2">#</th><th class="col-xs-5">Testprofile</th><th class="col-xs-5">Testcase</th>
                                    </tr>
                                    </thead>
                                    <tbody id="testcaseListTbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <table class="table parameter-table-fixed table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-lg-2">#</th><th class="col-lg-5">Parameter</th><th class="col-lg-5">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="col-lg-2">1</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_SUT_ADDRESS" class="control-label parameterName">SUT ADDRESS</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">2</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_CSE_NAME" class="control-label parameterName">CSE NAME</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">3</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_URI_CSE" class="control-label parameterName">URI CSE</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-1">4</th>
                                            <th class="col-lg-5"><label id="OneM2M_Pixits.PX_CSE_ID" class="control-label parameterName">CSE ID</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-1">5</th>
                                            <th class="col-lg-5"><label id="OneM2M_Pixits.PX_UNSTRUCTURED" class="control-label parameterName">RESOURCE STRUCTURE</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">6</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_ADDRESSING_FORMAT" class="control-label parameterName">ADDRESSING FORMAT</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">7</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_FROM_IS_AE_ID" class="control-label parameterName">AE ID</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">8</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_SERIALIZATION" class="control-label parameterName">SERIALIZATION</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">9</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_PROTOCOL_BINDING" class="control-label parameterName">PROTOCOL BINDING</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">10</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_AE_ID_STEM" class="control-label parameterName">AE ID STEM</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">11</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_APP_ID" class="control-label parameterName">APP ID</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">12</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_RESOURCES_TO_BE_DELETED" class="control-label parameterName">RESOURCE TO BE DELETED</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">13</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_RESOURCE_TO_BE_DELETED" class="control-label parameterName">ACOR</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">14</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_SUPER_USER" class="control-label parameterName">SUPER USER</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">15</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.PX_RUN_POSTAMBLE" class="control-label parameterName">RUN POSTAMBLE</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-2">16</th>
                                            <th class="col-lg-4"><label id="OneM2M_Pixits.LABELS" class="control-label parameterName">LABELS</label></th>
                                            <th class="col-lg-6"><input type="text" class="form-control parameterInput" placeholder="Parameter input"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <table class="table result-table-fixed">
                                    <thead>
                                    <tr>
                                        <th class="col-xs-2">#</th><th class="col-xs-4">Test Profile</th><th class="col-xs-4">Testcase</th><th class="col-xs-2">Result</th>
                                    </tr>
                                    </thead>
                                    <tbody id = "paramTable">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 startTestcaseFormat" >
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="oneM2MTester.png" class="img-fluid" align="center" alt="Responsive image">
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" id="start_testing" class="btn btn-danger col-lg-12  text-right"> Starting Testcase </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 buttonStyle">
                                    <button type="submit" class="btn btn-danger col-lg-12  text-right"> File Upload </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 buttonStyle">
                                    <button id="detail-Information-button" type="submit" class="btn btn-info col-lg-12  text-right" data-toggle="modal" data-target="#detail-information-modal"> Detail Information </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="detail-information-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel"> Detail Information </h4>
                            </div>
                            <div class="modal-body">
                                <textarea id = "modalTextArea" class="form-control" style="min-width: 100%"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
                            </div>
                        </div> <!-- Modal Contents -->
                    </div> <!-- Modal Dialogue-->
                </div> <!-- Modal Window -->
            </div>
        </div>
    </body>
</html>